{% extends 'admin/base.html.twig' %}

{% block title %}Série
{% endblock %}

{% block body %}
	<h1>Série</h1>

	<table class="table table-dark table-hover table-borderless">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ program.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ program.title }}</td>
			</tr>
			<tr>
				<th>Synopsis</th>
				<td>{{ program.synopsis }}</td>
			</tr>
			<tr>
				<th>Poster</th>
				<td>{{ program.poster }}</td>
			</tr>
			<tr>
				<th>Country</th>
				<td>{{ program.country }}</td>
			</tr>
			<tr>
				<th>Year</th>
				<td>{{ program.year }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('admin_program_edit', {'id': program.id}) }}" class="btn btn-secondary my-2 mx-4">Modifier</a>

	{{ include('admin/program/_delete_form.html.twig') }}

	<a href="{{ path('admin_program_index') }}" class="btn btn-info my-2 mx-4">Retour à la liste des séries</a>
{% endblock %}
