{% extends 'base.html.twig' %}

{% block title %}Episode index
{% endblock %}

{% block body %}
	<h1 class="text-center my-3">Episode index</h1>

	<a href="{{ path('app_episode_new') }}" class="btn btn-primary my-2 mx-4">Nouveau episode</a>

	<table class="table table-dark table-hover table-borderless">
		<thead class="text-center">
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Number</th>
				<th>Synopsis</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody class="text-center">
			{% for episode in episodes %}
				<tr>
					<td>{{ episode.id }}</td>
					<td>{{ episode.title }}</td>
					<td>{{ episode.number }}</td>
					<td>{{ episode.synopsis }}</td>
					<td>
						<a href="{{ path('app_episode_show', {'id': episode.id}) }}" class="btn btn-warning my-1 mx-1">Voir</a>
						<a href="{{ path('app_episode_edit', {'id': episode.id}) }}" class="btn btn-secondary my-1 mx-1">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Pas d'episode trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
