{% extends 'base.html.twig' %}

{% block title %}Program index
{% endblock %}

{% block body %}
	<h1 class="text-center my-3">Séries index</h1>

	<a href="{{ path('app_program_new') }}" class="btn btn-primary my-2 mx-4">Nouvelle série</a>

	<table class="table table-dark table-hover table-borderless">
		<thead class="text-center">
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Synopsis</th>
				<th>Poster</th>
				<th>Country</th>
				<th>Year</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody class="text-center">
			{% for program in programs %}
				<tr>
					<td>{{ program.id }}</td>
					<td>{{ program.title }}</td>
					<td>{{ program.synopsis }}</td>
					<td>{{ program.poster }}</td>
					<td>{{ program.country }}</td>
					<td>{{ program.year }}</td>
					<td>
						<a href="{{ path('app_program_show', {'id': program.id}) }}" class="btn btn-warning my-1 mx-1">Voir</a>
						<a href="{{ path('app_program_edit', {'id': program.id}) }}" class="btn btn-secondary my-1 mx-1">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Pas de série trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
