{% extends 'admin/base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<h1 class="text-center my-3">Catégories index</h1>

	<a href="{{ path('admin_category_new') }}" class="btn btn-primary my-2 mx-4">Nouvelle catégorie</a>

	<table class="table table-dark table-hover table-borderless">
		<thead class="text-center">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody class="text-center">
			{% for category in categories %}
				<tr>
					<td>{{ category.id }}</td>
					<td>{{ category.name }}</td>
					<td>
						<a href="{{ path('admin_category_show', {'slug': category.slug}) }}" class="btn btn-warning my-1 mx-1">Voir</a>
						<a href="{{ path('admin_category_edit', {'slug': category.slug}) }}" class="btn btn-secondary my-1 mx-1">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Pas de catégorie trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
