{% extends 'app/base.html.twig' %}

{% block title %}
	Saison
	{{ season.number }}
{% endblock %}

{% block body %}

	<div>
		<h1 class="text-center my-1">Série:
			{{ program.title }}</h1>
		<h2 class="text-center my-3">Liste des épisodes de la saison
			{{ season.number }}</h2>
	</div>

	{% for episode in episodes %}
		<div class="card mb-3" style="width: 70rem;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="{{ asset('build/images/home.jpg') }}" class="img-fluid rounded-start" alt="poster">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h4 class="card-title">Title:
							{{ episode.title }}</h4>
						<h5 class="card-text">Episode:
							{{ episode.number }}</h5>
						<p class="card-text">Synopsis:
							{{ episode.synopsis }}</p>
						<p class="card-text">
							<a class="btn btn-warning" href="{{ path('app_episode_show', {'slug': program.slug, 'season': season.id, 'episode': episode.slug}) }}">Voir l'episode</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}

	<div>
		<a href="{{ path('app_program_index') }}" class="btn btn-info my-1">Retour à la liste des programmes</a>
	</div>

	<div>
		<a href="{{ path('app_category_index') }}" class="btn btn-info my-1">Retour à la liste des catégories</a>
	</div>

{% endblock %}
